body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

#messages {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow-y: auto;
    max-height: calc(100vh - 100px); /* Adjust this value as needed */
}

#messages li {
    margin-bottom: 10px;
    padding: 5px;
    border: 1px solid #ccc;
    background-color: #f0f0f0;
    
}

#message-form {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #f0f0f0;
    padding: 10px;
    box-sizing: border-box;
    box-shadow: 0px -1px 5px rgba(0, 0, 0, 0.1);
}
a{
    color:inherit;
    text-decoration:none;
}
#message-input {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-right: 10px;
}

#b {
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 8px 12px;
    cursor: pointer;
}
#title-box{
    padding:5px;
}
#title{
    text-align: center;
    margin:auto;
    font-size:xx-large;
    padding:10px 5px 5px 5px;
}
#title:hover{
    cursor:pointer;
}

.metadata{
    color:rgb(119, 143, 143);
    font-size: smaller;
}
.messageContent{
    font-size: larger;
}

/* The Modal (background) */
.modal {
    display: none; 
    position: fixed;
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    background-color: rgba(0,0,0,0.7);
}

/* Modal Content */
.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 30%;
    text-align: center;
}

/* dulled class (to add to the form when the password modal is up */
.dulled {
    opacity: 0.5;
    pointer-events: none;
}
