body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    --background-color: #ffffff;
    --text-color: #000000;
    --message-bg-color: #e0e0e0; /* Default background color for messages */
   
    background-color: var(--background-color);
    color: var(--text-color);
}
body.dark-theme {
    --background-color: #333333;
    --text-color: #ffffff;
    --message-bg-color: #444444; /* Dark background color for messages */

}
.theme-toggle {
    position: absolute;
    bottom: 10px;
    right: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 8px 12px;
    cursor: pointer;
}
ul#messages {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow-y: auto;
    max-height: calc(100vh - 150px); /* Adjust this value as needed */
    background-color: var(--background-color); /* Set background color for message container */

}

ul#messages li {
    background-color: var(--message-bg-color);
    margin-bottom: 10px;
    padding: 5px;
    border: 1px solid #ccc;    
}

ul#messages li {
background: var(--message-bg-color);  
  margin-bottom: 10px;
    padding: 5px;
    border: 1px solid #ccc;    
}

#message-form {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: var(--background-color);
    padding: 10px;
    box-sizing: border-box;
    box-shadow: 0px -1px 5px rgba(0, 0, 0, 0.1);
}
a{
    color:inherit;
    text-decoration:none;
}
.message-input {
    padding: 8px;
    border: 1px solid #a0a0a0;
    border-radius: 4px;
    margin-right: 10px;
}

.b {
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 8px 12px;
    cursor: pointer;
}

#chatroomTitle{
    text-align: center;
}
#title{
    text-align: center;
    margin:auto;
    font-size:xx-large;
    width: auto;
    display:inline-block;
    padding:10px 5px 5px 5px;
}
#title:hover{
    cursor:pointer;
}

.metadata{
    color:rgb(119, 143, 143);
    font-size: smaller;
}
.messageContent{
    font-size: larger;
}

/* The Modal (background) */
.modal {
    display: none; 
    position: fixed;
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    background-color: rgba(0,0,0,0.7);
}

/* Modal Content */
.modal-content {
    position: relative;
    background-color: #fefefe;
    border-radius: 25px;
    border: 2px solid #007bff;
    margin: 15% auto;
    padding: 20px;
    width: 30%;
    text-align: center;
}

/* dulled class (to add to the form when the password modal is up */
.dulled {
    opacity: 0.5;
    pointer-events: none;
    
}

